<h1>Thank you for creating your account.</h1>
<p>Please click the following link to activate your account: </p>
<p><%= link_to @url, @url, target: '_blank' %></p>
<p>
  Best regards,
  <br />
  <br />
  Julian
</p>