<%= page_heading('People') %>
<%= render partial: 'people/people', locals: { people: @people } %>
<div class="row">
  <div class="col-sm-12">
    <p><%= link_to 'New Person', new_person_path, class: 'btn btn-success' %></p>
  </div>
</div>
