<%= page_heading(t('views.subscription_plans.index.h1')) %>
<%= render partial: 'admin/subscription_plans/subscription_plans', locals: { admin_subscription_plans: @admin_subscription_plans } %>
<div class="row">
  <div class="col-sm-12">
    <p><%= link_to t('views.subscription_plans.index.new'), new_admin_subscription_plan_path, class: 'btn btn-success'%></p>
  </div>
</div>

