<%= page_heading(t('views.opportunities.index.h1')) %>
<%= render partial: 'opportunities/opportunities', locals: { opportunities: @opportunities } %>
<div class="row">
  <div class="col-sm-12">
    <p><%= link_to t('views.opportunities.index.new'), new_opportunity_path, class: 'btn btn-success'%></p>
  </div>
</div>
