<%= page_heading('Opportunities') %>
<%= render partial: 'opportunities/opportunities', locals: { opportunities: @opportunities } %>
<div class="row">
  <div class="col-sm-12">
    <p><%= link_to 'New Opportunity', new_opportunity_path, class: 'btn btn-success'%></p>
  </div>
</div>
