<div class="breadcrumb">
  <%= t('views.general.you_are_here') %>
  <% @breadcrumbs[0..-2].each do |breadcrumb| %>
    <%= link_to breadcrumb[:label], breadcrumb[:path] %> |
  <% end %>
  <%= @breadcrumbs.last[:label] %>
</div>